<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python39\python.exe|D:\Python39\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="application.app"/>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
  </appSettings>
</configuration>
